.search-input-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
}
.search-input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: rgba(255, 255, 255, 0.1);
    border: 0;

}
.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    width: 80px;
    background-color: aquamarine;
    background: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.search-input:focus {
    outline: none;
}